<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 <servlet>
  <servlet-name>CurrentDate</servlet-name>
  <servlet-class>currentdatedemo.demo.servlet.CurrentDateDemo</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>CurrentDate</servlet-name>
 <url-pattern>/CurrentDateDemo</url-pattern>
 </servlet-mapping>
 
</web-app>