<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 <servlet>
  <servlet-name>RegistrationForm</servlet-name>
  <servlet-class>registrationform.demo.servlet.RegistrationForm</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RegistrationForm</servlet-name>
 <url-pattern>/RegistrationForm</url-pattern>
 </servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
</web-app>